/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul,
li {
  list-style: none;
}

.gallery {
  width: 1128px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 24px 24px;
  margin: 0 auto;
}
li {
  width: 360px;
  height: 300px;
  overflow: hidden;
}
.gallery-item-wrap {
  border: 1px black solid;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item-description {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 10px;
}
